:root {
    --background: #f5f5f5;
    --link: #33A7FB;
    --text-dark: #333;
    --text-medium: #666;
    --white: #fff;
    --gray-light: #ddd;
    --yellow: #d6ca19;
    --red: #db2b2b;
    --green: #187a18;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, input, button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

body {
    background-color: var(--background);
}

article.content {
    padding-top: 140px;
}

a.link {
    text-decoration: none;
    color: var(--link);
}

a.link:hover {
    text-decoration: underline;
}

a.button, button.button {
    display: inline-block;
    color: var(--white);
    height: 2.5rem;
    line-height: 2.5rem;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    font-weight: normal;
    transition: all 0.3s ease;
    padding: 0 1.5rem;
    cursor: pointer;
    outline: 0;
    border: 0;
}

a.button:hover, button.button:hover {
   filter: brightness(0.9);
}

a.button.success, button.button.success {
    background: var(--green);
    margin-bottom: 2rem;
}

a.button.back {
    background: var(--gray-light);
    color: var(--text-dark);
}

a.icon-edit i {
    color: var(--yellow);
}

a.icon-delete i {
    color: var(--red);
}

.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

h1.titulo {
    margin: 3rem 0;
}

small.error, small.alerta {
    display: block;
    font-size: 0.8rem;
    color: var(--red);
    margin-bottom: 1rem;
}

span.info-no-data {
    display: block;
}

div.buttons {
    display: flex;
    justify-content: flex-end;
}

div.buttons a {
    margin-right: 1rem;
}

span.status {
    font-weight: 600;
}

nav[role="navigation"] {
    background: none;
    justify-content: center;
}
