
.form-control {
    height: 40px;
    box-shadow: none;
    color: var(--gray-light);
}

.form-control:focus {
    border-color: var(--green);
}

.form-control, .btn {
    border-radius: 3px;
}

.signup-form {
    width: 340px;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 15px;
}

.signup-form h2 {
    color: var(--text-dark);
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.signup-form h2:before {
    left: 0;
}

.signup-form h2:after {
    right: 0;
}

.signup-form .hint-text {
    color: var(--text-medium);
    margin-bottom: 30px;
    text-align: center;
}

.signup-form form {
    color: var(--text-medium);
    border-radius: 3px;
    margin-bottom: 15px;
    background: #eee;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.signup-form .form-group {

    margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
    margin-top: 3px;
}

.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
}

.signup-form .row div:first-child {
    padding-right: 10px;
}

.signup-form .row div:last-child {
    padding-left: 10px;
}

.signup-form a {
    color: var(--blue);
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}

.signup-form form a {
    color: var(--green);
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
}

small.erro {
    color: var(--red);
}
